<header>


  <a href="#home" class="logo-link" (click)="closeMenu()">
    
    <img src="assets/img/image3.png" alt="Aashram NGO Logo" class="logo" />
    <h1>AASHRAM</h1>
  </a>
  <button class="menu-toggle" 
          (click)="toggleMenu()" 
          [class.active]="isMenuOpen" 
          aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>


  <nav [class.menu-open]="isMenuOpen">
    <ul>
      <li><a href="#home" (click)="closeMenu()">Home</a></li>
      <li><a href="#about" (click)="closeMenu()">About Us</a></li>
      <li><a href="#services" (click)="closeMenu()">Services</a></li>
      <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
    </ul>
  </nav>
  
</header>